.inputs{
    display: flex;
    flex-direction: column;
}
.just_text{
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-left:20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    gap: 20px;
}
.email{
    margin-left: 20px;
}
.first_name{
    width: 66%;
}
.last_name_input{
    width: 66%;
}
.last_name_input{
    width: 66%
}

.Input_Text{
    font-size: 1.5rem;
    font-weight: bolder;
}

.last_name{
    width: 80%;
}