.owner-or-right {
  overflow: scroll;
}

.quantity-top {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
}

.quantity-bars {
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; */
  display: grid;
  grid-template-columns: 29rem 29rem 28rem;
  margin-top: -22px;
  padding-left: 27px;
  overflow: scroll;
}
