.sum_contianer{
    height: 35%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 96.6%;
    margin-left: 10px;
    margin-top: 10px;
}

.sum_cart_item_main{
    box-shadow: 0 14px 28px rgba(0,0,0,0.1),
    0 10px 10px rgba(0,0,0,0.1);
    border: 1px solid black;
    height: 80%;
}


.items_cart{
    display: flex;
    border: 3px solid lightgray;
}
.item_cart{
    flex: 1;
    margin-left: 40px;
    font-size: larger;
    font-weight: bold;
}
.item_qty{
    flex: 0.5;
    margin-left:50px;
    font-size: larger;
    font-weight: bold;
}
.item_price{
    margin-right: 40px;
    font-size: larger;
    font-weight: bold;
}


